body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  min-height: calc(100vh - 150px);
}

.my-list-button,
.cool-image {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#my-list-button {
  background-color: #ff5722;
  border-radius: 10px;
  font-size: 16px;
}

#cool-image {
  width: 50%;
}
